* {
  font-family: sans-serif;
}

header {
  background-color: #4a2372;
  color: white;
  padding: 0.01rem 0;
}

body {
  background-color: #f4f1f5;
}

.journal-header {
  font-weight: normal;
  font-size: 0.8em;
}

.nav {
  font-weight: normal;
  font-size: 0.7em;
  padding: 0.05rem 2rem;
}

.page-title {
  font-size: 1.2em;
}

.entry-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.label-input-div {
  padding: 0.2rem 0;
}

.label-div {
  padding: 0.2rem 0;
}

.label-div > label {
  font-weight: bold;
  font-size: 0.7em;
}

.input-div > input {
  height: 2em;
}

.input-div > input,
textarea {
  width: 100%;
  border: 1px solid rgb(211, 206, 206);
  border-radius: 4px;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  text-transform: uppercase;
  background-color: #4a2372;
  color: white;
  font-size: 0.7em;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.fas.fa-edit {
  cursor: pointer;
  color: #4a2372;
}

.entry-list {
  padding: 0;
  margin: 0;
}

.entry {
  list-style: none;
  margin-bottom: 1rem;
}

.entry-title {
  font-size: 0.9em;
  line-height: 0.5em;
}

.entry-notes {
  font-size: 0.8em;
}

nav > a,
.button-div > a {
  color: white;
  text-decoration: none;
}
